<div class="content-wrapper">
  <div *ngIf="loading" class="loading-overlay" id="loadingOverlay">
    <div class="loading-message">Loading...</div>
  </div>

  <div class="container">
    <div class="side-panel left">
      <div *ngIf="!term_selected" class="noTermSelected">
        Select Cluster To See Details
      </div>

      <div *ngIf="term_selected" class="termDetails">
        <div style="text-align: center;">
          <h1 style="text-decoration: underline;">Selected Cluster</h1>
          <div>
            <span class="cluster-info">Cluster: {{selected_term.cell_type}}</span>
            <span class="cluster-info">Tissue: {{selected_term.tissue}}</span>
            <span class="cluster-info">PMID {{selected_term.pmid}}</span>
          </div>
          <h3 style="text-decoration: underline;">Genes Enriched in Cluster</h3>
        </div>
        <div class="selected-list-container">
          <dx-list
            [dataSource]="selected_core_enrichment"
            (onItemClick)="geneRerout($event)"
            class="gene-list"
          >
          </dx-list>
        </div>
      </div>
    </div>
    <div class="center-panel volcano">
      <apx-chart
        [series]="go_chart_options.series!"
        [chart]="go_chart_options.chart!"
        [xaxis]="go_chart_options.xaxis!"
        [yaxis]="go_chart_options.yaxis!"
        [markers]="go_chart_options.markers!"
        [annotations]="go_chart_options.annotations!"
        [tooltip]="go_chart_options.tooltip!"
        style="margin-bottom: 1000px;"
      >
      </apx-chart>
      <apx-chart
        [series]="hist_chart_options.series!"
        [chart]="hist_chart_options.chart!"
        [stroke]="hist_chart_options.stroke!"
        [yaxis]="hist_chart_options.yaxis!"
        [xaxis]="hist_chart_options.xaxis!"
        [dataLabels]="hist_chart_options.dataLabels!"
        [tooltip]="hist_chart_options.tooltip!"
        [annotations]="hist_chart_options.annotations!"
        [colors]="hist_chart_options.colors!"
        style="margin-top: 10px;"
      ></apx-chart>
      <div *ngIf="pathway_info" class="pathway-info">
        <span class = 'pathway-name'>{{pathway_info.name}}</span>
        <span class = 'pathway-description'>{{pathway_info.definition.text}}</span>
      </div>
      <!--TISSUE SELECT BOX-->
      <div class="dx-field">
        <div class="dx-field-label">Tissues</div>
        <div class="dx-field-value">
          <dx-tag-box class='dx-tag-box'
            [items]="tissue_types"
            [searchEnabled]="true"
            [hideSelectedItems]="true"
            placeholder="Select Tissues"
            [showMultiTagOnly]="false"
            [maxDisplayedTags]="4"
            [showClearButton]="true"
            [showSelectionControls]="true"
            [(value)] = 'selected_tissues'
          ></dx-tag-box>
        </div>
      </div>
      <!--CELL TYPE SELECT BOX-->
      <div class="dx-field">
        <div class="dx-field-label">Cell Types</div>
        <div class="dx-field-value">
          <dx-tag-box class='dx-tag-box'
            [items]="cell_types"
            [searchEnabled]="true"
            [hideSelectedItems]="true"
            placeholder="Select Cell Types"
            [showMultiTagOnly]="false"
            [maxDisplayedTags]="4"
            [showClearButton]="true"
            [showSelectionControls]="true"
            [(value)] = 'selected_cell_types'
          ></dx-tag-box>
        </div>
      </div>
    <!--PATHWAY SELECT BOX-->

    <div class="field-container">
      <div class="dx-field">
        <div class="dx-field-label">Pathways</div>
        <div class="dx-field-value">
          <dx-autocomplete
            [dataSource]="pathways"
            [(value)]="selected_pathway"
            [minSearchLength]="1"
            searchEnabled="true"
            [searchMode]="selected_search_mode"
            [maxItemCount]="200"
            [showDropDownButton]="true"
          ></dx-autocomplete>
        </div>
      </div>
      <dx-select-box
        [items]="search_modes"
        displayExpr="text"
        valueExpr="value"
        [(value)]="selected_search_mode"
        [dropDownOptions]="{ width: 200 }"
        placeholder="Select Search Mode"
        class="search-mode-select-box"
      >
      </dx-select-box>
      <!-- Your chart and other content -->
    </div>
    



    

      <div class="button-container">
        <dx-button
          (onClick)="getNewData()"
          class="searchbutton">
          SELECT GO RESULTS
        </dx-button>
      </div>
    </div>
    
    <div class="side-panel right pathwayDetail">
      <div class="list-container">
        <h2 class="centered-heading">Upregulated</h2>
        <dx-list [dataSource]="upreg_gene_counts">
          <div *dxTemplate="let item of 'item'"
            [ngStyle]="getColorStyle(item, 'UP')"
            class="gene-list">
            {{item.gene}}
            {{item.count}}
          </div>
        </dx-list>
      </div>
  
      <div class="list-container">
        <h2 class="centered-heading">Downregulated</h2>
        <dx-list [dataSource]="downreg_gene_counts">
          <div *dxTemplate="let item of 'item'"
            [ngStyle]="getColorStyle(item, 'DOWN')"
            class="gene-list">
            {{item.gene}}
            {{item.count}}
          </div>
        </dx-list>
      </div>
      <!-- Your gene list content -->
    </div>
  </div>
  </div>
