<div class="content-wrapper">
  <div *ngIf="loading" class="loading-overlay" id="loadingOverlay">
    <div class="loading-message">Loading...</div>
  </div>

  <div class="container">
    <!-- Your existing content goes here -->
    <div class="side-panel left">
      <div *ngIf="!term_selected" class="noTermSelected">
        Select Cluster To See Details
      </div>

      <div *ngIf="term_selected" class="termDetails">
        <div style="text-align: center;">
          <h1 style="text-decoration: underline;">Selected Cluster</h1>
          <div>
            <span class="cluster-info">Cluster: {{selected_term.cell_type}}</span>
            <span class="cluster-info">Tissue: {{selected_term.tissue}}</span>
            <span class="cluster-info">PMID {{selected_term.pmid}}</span>
          </div>
          <h3 style="text-decoration: underline;">Genes Enriched in Cluster</h3>
        </div>
        <div class="selected-list-container">
          <dx-list
            [dataSource]="selected_core_enrichment"
            (onItemClick)="geneRerout($event)"
            class="gene-list"
          >
          </dx-list>
        </div>
      </div>
    </div>
    <div class="center-panel volcano">
      <!-- Your chart and other content -->
    </div>
    <div class="side-panel right pathwayDetail">
      <!-- Your gene list content -->
    </div>
  </div>
</div>
