<div>
    <dx-button-group
        [items]="maps"
        stylingMode="outlined"
        [selectedItemKeys]="['left']"
        (onItemClick)="onItemSelected($event)"
    ></dx-button-group>
</div>

<img *ngIf="display=='umap'" id="myimage" [src]='this.umap'  width="85%" height="85%"/>
<img *ngIf="display=='tsne'" id="myimage" [src]='this.tsne'  width="85%" height="85%"/>
<img *ngIf="display=='Linear Regression'" id="myimage" [src]='this.lin_reg'  width="85%" height="85%"/>
<div *ngIf="display=='Meta Info'">
    <h3> Study</h3>
    <p>
        Title: <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/{{selected_info.pmid}}/">{{title}}</a>
    </p>
    <p>
        Author: <b>{{author}}</b>
    </p>
    <p>
        Year: <b>{{year}}</b>
    </p>
    <h3> SCALIWAG</h3>
    <p>
        Other Possible Cell Types: <b>{{selected_info.cell_type2}} {{selected_info.cell_type3}}</b>
    </p>
</div>
