
<div #igvdiv class="igv"></div>

<div class="get-button-container">
   <button color="accent" (click)="getInRangeGenes()" class="center-button">Get Differential Expression Data</button>
</div>

<div class="flex-container">
   <button color="accent" class="button" (click)="subsetCorrectCellAndTissueTypes()" *ngIf="this.genes.length > 0">Apply</button>
   <a *ngIf="this.genes.length > 0" class="selectbox-title">Selected Tissues:</a>
   <dx-tag-box
      *ngIf="this.genes.length > 0"
      class="flex-child"
      [items]="tissue_types"
      [width]="100"
      [searchEnabled]="true"
      [hideSelectedItems]="true"
      placeholder="Select Tissue(s)"
      (onValueChanged)="onTissuesChanged($event)"
      [showClearButton]="true"
      [showSelectionControls]="true"
      [multiline]="false"
      [maxDisplayedTags]="5"
      [value] = 'tissue_types'
   ></dx-tag-box>
   <a *ngIf="this.genes.length > 0" class="selectbox-title">Selected Cell Types:</a>
   <dx-tag-box
      *ngIf="this.genes.length > 0"
      class="flex-child"
      [items]="cell_types"
      [width]="100"
      [searchEnabled]="true"
      [hideSelectedItems]="true"
      placeholder="Select Cell Type(s)"
      (onValueChanged)="onCellChanged($event)"
      [showClearButton]="true"
      [showSelectionControls]="true"
      [multiline]="false"
      [maxDisplayedTags]="5"
      [value] = 'cell_types'
      paginate = 'true'
   ></dx-tag-box>
</div>
<div class="legend" *ngIf="this.genes.length > 0">
   <span>Gene LFC Legend:</span>
   <span style="color:#9C27B0;">Significantly Downregulated</span>
   <span style="color: #00BCD4;">Slightly Downregulated</span>
   <span style="color: #4CAF50;">No Change</span>
   <span style="color: #FFC300;">Slightly Upregulated</span>
   <span style="color: #FF5733;">Significantly Upregulated</span>
</div>
<div class="legend" *ngIf="this.genes.length > 0">
   <span>Black represent clusters whose linear model does not have a significant fit</span>
</div>
<div class="search-results" [class.searching]="loading">
   <div *ngFor="let gene_list of this.grouped_genes">
      <app-gene-card [gene_list]="gene_list" [indices]="selected_indices"></app-gene-card>
   </div>
   <div *ngIf="loading" class="loading-overlay">Loading...</div>
</div>