.igv{
    width: 100%;
    padding-top: 10px;
}

.flex-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 4px;
}

.flex-child {
    flex: 1;
    border: 2px solid red;
} 

.button{
    min-height: 35px;
    background-color: #D8C385;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px #999;
    margin: 2px;
}

.button:active {
    background-color: #CEB464;
    transform: translateY(4px);
  }

  .button:hover{
    background-color: #CEB464;
  }

  .search-results {
    position: relative;
}

.search-results.searching {
    pointer-events: none; /* Prevent clicks on elements underneath */
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the loading overlay appears on top of other content */
}
