.button-container {
    display: flex;
    justify-content: center;
  }
  
  .image-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border: none;
    background: none;
    padding: 0;
    text-align: center;
    position: relative;
  }
  
  .image-button img {
    max-width: 100%;
    height: auto;
    outline: 2px solid black;
  }
  
  .button-text {
    color: black;
    font-size: 30px;
    font-Family: 'RobotoCondensed-Bold';
      text-shadow: -1px -1px 0 white,  
                1px -1px 0 beige,
                -1px  1px 0 beige,
                1px  1px 0 beige;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  

.strong {
    font-weight: bold;
  }

.main-documentation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Ensure items stretch vertically */
}

/* .left-button,
.right-button {
  flex-grow: 1;
  background-color: #ccc;
  background-size: cover;
  font-size: 30px; 
  font-family: 'RobotoCondensed-Bold';
  text-shadow: -1px -1px 0 white, 1px -1px 0 beige, -1px 1px 0 beige, 1px 1px 0 beige;
} */

.left-button {
  background-color: black;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 15%;
  z-index: 1; /* Ensure the button appears above other content */
}

.right-button {
  background-color: black;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 15%;
  z-index: 1; /* Ensure the button appears above other content */
}

.center-content {
  width: 70%;
  margin: 0px auto; /* Center the container horizontally */
  text-align: center; /* Align text to the left */
}

.center-content p {
  margin-bottom: 10px; /* Adjust as needed */
}

.doc-text {
  width: 85%;
  margin: 20px auto; /* Adjust top, bottom, and left/right margins as needed */
  font-size: large;
}

.center-content img {
    display: inline-block; /* Make the image inline-block */
    outline: 2px solid black; /* Add a black outline with a thickness of 2px */
    max-width: 85%; /* Limit the image width to 85% of the container's width */
    height: auto; /* Maintain aspect ratio */
    filter: brightness(110%) contrast(90%) saturate(100%); /* Apply color shift */
}
  