.button-container {
    display: flex;
    justify-content: center;
  }
  
  .image-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border: none;
    background: none;
    padding: 0;
    text-align: center;
    position: relative;
  }
  
  .image-button img {
    max-width: 100%;
    height: auto;
    outline: 2px solid black;
  }
  
  .button-text {
    color: black;
    font-size: 30px;
    font-Family: 'RobotoCondensed-Bold';
      text-shadow: -1px -1px 0 white,  
                1px -1px 0 beige,
                -1px  1px 0 beige,
                1px  1px 0 beige;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  

.strong {
    font-weight: bold;
  }

.main-documentation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Ensure items stretch vertically */
}

.left-button,
.right-button {
  flex-grow: 1;
  background-color: #ccc; /* Adjust as needed */
  background-size: cover;
  font-size: 30px; /* Set font size */
  font-family: 'RobotoCondensed-Bold'; /* Set font family */
  text-shadow: -1px -1px 0 white, 1px -1px 0 beige, -1px 1px 0 beige, 1px 1px 0 beige; /* Set text shadow */
}

.center-content {
  width: 70%;
}

.center-content p {
  margin-bottom: 10px; /* Adjust as needed */
}


.center-content img {
    display: inline-block; /* Make the image inline-block */
    outline: 2px solid black; /* Add a black outline with a thickness of 2px */
    max-width: 85%; /* Limit the image width to 85% of the container's width */
    height: auto; /* Maintain aspect ratio */
    filter: brightness(110%) contrast(90%) saturate(100%); /* Apply color shift */
}
  